<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.myapp.mapper.EdsmMapper">
	
	<resultMap type="EdsmFormDto" id="EdsmFormMap">
	    <id property="sampleDotCode" column="SAMPLE_DOT_CODE" />
	    <result property="sampleContent" column="SAMPLE_CONTENT" />
	    <result property="createDatetime" column="CREATE_DATETIME" />
	    <result property="modifyDatetime" column="MODIFY_DATETIME" />
	    <result property="useYn" column="USE_YN" />
	    <result property="sampleTitle" column="SAMPLE_TITLE" />
	    <association property="emp" javaType="EmpDto">
	    	<id property="empCode" column="EMP_CODE" />
    	</association>
	</resultMap>
	
    <resultMap type="CustomApprItemDto" id="CustomApprItemMap">
        <id property="customApprItemNo" column="CUSTOM_APPR_ITEM_NO" />
        <result property="apprSeq" column="APPR_SEQ" />
        <association property="customAppr" javaType="EdsmCustomApprDto">
			<id property="customApprNo" column="CUSTOM_APPR_NO" />
            <result property="lineName" column="LINE_NAME" />
            <association property="emp" javaType="EmpDto">
				<id property="empCode" column="EMP_CODE" />
				<result property="empName" column="EMP_NAME" />
				<association property="dept" javaType="DeptDto">
					<id property="deptCode" column="DEPT_CODE" />
					<result property="deptName" column="DEPT_NAME" />
		        </association>
	        </association>
        </association>
    </resultMap>
    
    <resultMap type="EdsmDto" id="EdsmMap">
		<id property="edsmNo" column="EDSM_NO" />
		<result property="edsmCreateDatetime" column="EDSM_CREATE_DATETIME" />
		<result property="edsmStartDatetime" column="EDSM_START_DATETIME" />
		<result property="edsmEndDatetime" column="EDSM_END_DATETIME" />
		<result property="edsmExpireDatetime" column="EDSM_EXPIRE_DATETIME" />
		<result property="edsmContent" column="EDSM_CONTENT" />
		<result property="edsmStatus" column="EDSM_STATUS" />
		<association property="sample" javaType="EdsmFormDto">
	    	<id property="sampleDotCode" column="SAMPLE_DOT_CODE" />
    	</association>
    	<association property="emp" javaType="EmpDto">
	    	<id property="empCode" column="EMP_CODE" />
    	</association>
    </resultMap>

	<insert id="registerForm" parameterType="EdsmFormDto">
		INSERT INTO EDSM_SAMPLE_T (
			SAMPLE_DOT_CODE,
			EMP_CODE,
			SAMPLE_CONTENT,
			CREATE_DATETIME,
			MODIFY_DATETIME,
			USE_YN,
			SAMPLE_TITLE
		) VALUES (
			#{sampleDotCode},
			#{emp.empCode},
			#{sampleContent},
			CURRENT_DATE,
			CURRENT_DATE,
			#{useYn},
			#{sampleTitle}
		)
	</insert>
	
	<select id="getSampleCount" resultType="int">
		SELECT COUNT(*) FROM EDSM_SAMPLE_T
	</select>
	
	<select id="getSampleList" parameterType="Map" resultMap="EdsmFormMap">
		SELECT 	SAMPLE_DOT_CODE,
				SAMPLE_CONTENT,
				CREATE_DATETIME,
				MODIFY_DATETIME,
				USE_YN,
				SAMPLE_TITLE
		  FROM	(SELECT ROW_NUMBER() OVER(ORDER BY SAMPLE_DOT_CODE) AS RN,
		 		 		SAMPLE_DOT_CODE,
				 		SAMPLE_CONTENT,
				 		CREATE_DATETIME,
				 		MODIFY_DATETIME,
				 		USE_YN,
				 		SAMPLE_TITLE
		    	   FROM EDSM_SAMPLE_T)
		 WHERE RN BETWEEN #{begin} AND #{end}		 
	</select>
	
	<select id="getSample" resultMap="EdsmFormMap">
		SELECT 	SAMPLE_DOT_CODE,
				SAMPLE_CONTENT,
				CREATE_DATETIME,
				MODIFY_DATETIME,
				USE_YN,
				SAMPLE_TITLE,
				EMP_CODE
		   FROM EDSM_SAMPLE_T
		  WHERE SAMPLE_DOT_CODE = #{sampleDotCode}
	</select>
	
	<update id="modifyForm" parameterType="EdsmFormDto">
		UPDATE EDSM_SAMPLE_T
		   SET SAMPLE_CONTENT = #{sampleContent},
		   	   MODIFY_DATETIME = CURRENT_DATE,
		   	   USE_YN = #{useYn},
		   	   SAMPLE_TITLE = #{sampleTitle}
		 WHERE SAMPLE_DOT_CODE = #{sampleDotCode}
	</update>
	
	<delete id="removeForm">
		DELETE FROM EDSM_SAMPLE_T WHERE SAMPLE_DOT_CODE = #{sampleDotCode}
	</delete>
	
	<select id="getLineCount" resultType="int">
		SELECT COUNT(*) FROM EDSM_CUSTOM_APPROVAL_T WHERE EMP_CODE = #{empCode}
	</select>
	
	<select id="getLineList" parameterType="Map" resultType="EdsmCustomApprDto">
		SELECT 	CUSTOM_APPR_NO,
				EMP_CODE,
				LINE_NAME
		  FROM	(SELECT ROW_NUMBER() OVER(ORDER BY CUSTOM_APPR_NO) AS RN,
		 		 		CUSTOM_APPR_NO,
				 		EMP_CODE,
				 		LINE_NAME
		    	   FROM EDSM_CUSTOM_APPROVAL_T
		    	  WHERE EMP_CODE = #{empCode})
		 WHERE RN BETWEEN #{begin} AND #{end}		 
	</select>

	<select id="getCustomApprSeqNextval">
		SELECT EDSM_CUSTOM_APPROVAL_SEQ.NEXTVAL FROM DUAL
	</select>
	
	<insert id="registerLine" parameterType="Map">
		INSERT INTO EDSM_CUSTOM_APPROVAL_T (CUSTOM_APPR_NO, EMP_CODE, LINE_NAME) VALUES 
			(#{nextVal}, #{myEmpCode}, #{title})
	</insert>
	
	<select id="getCustomApprItemLastID" resultType="CustomApprItemDto">
		SELECT CUSTOM_APPR_ITEM_NO FROM (SELECT CUSTOM_APPR_ITEM_NO FROM EDSM_CUSTOM_APPROVAL_ITEM_T ORDER BY CUSTOM_APPR_ITEM_NO DESC) WHERE ROWNUM = 1
	</select>
	
	<insert id="registerLineItem" parameterType="Map">
		INSERT INTO EDSM_CUSTOM_APPROVAL_ITEM_T (CUSTOM_APPR_ITEM_NO, CUSTOM_APPR_NO, EMP_CODE, APPR_SEQ) 
    	<foreach collection="empCodeList" item="empCode" index="index" separator=" UNION ALL ">
			SELECT #{curApprItemSeq}+#{index}+1, #{customApprNo}, #{empCode}, #{index}+1 FROM DUAL
        </foreach>
	</insert>

    <select id="getLineDetail" resultMap="CustomApprItemMap">
        SELECT  A.CUSTOM_APPR_ITEM_NO,
		        A.CUSTOM_APPR_NO,        
		        A.APPR_SEQ,
		        A.EMP_CODE,
		        B.LINE_NAME,
		        C.EMP_NAME,
        		D.DEPT_NAME
		FROM    EDSM_CUSTOM_APPROVAL_ITEM_T A
		LEFT 	OUTER JOIN EDSM_CUSTOM_APPROVAL_T B
		ON      A.CUSTOM_APPR_NO = B.CUSTOM_APPR_NO
		LEFT 	OUTER JOIN EMP_T C
		ON      A.EMP_CODE = C.EMP_CODE
		LEFT 	OUTER JOIN DEPT_T D
		ON      C.DEPT_CODE = D.DEPT_CODE
		WHERE   A.CUSTOM_APPR_NO = #{apprNo}
		ORDER 	BY A.APPR_SEQ
    </select>
    
    <delete id="removeLineItem">
		DELETE FROM EDSM_CUSTOM_APPROVAL_ITEM_T WHERE CUSTOM_APPR_NO = #{apprNo}
	</delete>
	
	<delete id="removeLine">
		DELETE FROM EDSM_CUSTOM_APPROVAL_T WHERE CUSTOM_APPR_NO = #{apprNo}
	</delete>
	
	<select id="getSampleListAll" resultMap="EdsmFormMap">
		SELECT 	SAMPLE_DOT_CODE,
				SAMPLE_CONTENT,
				SAMPLE_TITLE
		  FROM	EDSM_SAMPLE_T
		 WHERE	USE_YN = 'Y'
	</select>
	
	<insert id="addApprDo" parameterType="Map">
		INSERT INTO	EDSM_T 
					(EDSM_NO,
					SAMPLE_DOT_CODE,
					EMP_CODE,
					EDSM_CREATE_DATETIME,
					EDSM_CONTENT,
					EDSM_START_DATETIME,
					<!--EDSM_END_DATETIME,-->
					EDSM_STATUS,
					EDSM_EXPIRE_DATETIME)
			 VALUES (EDSM_SEQ.NEXTVAL,
			 		#{sampleDotCode},
			 		#{empCode},
			 		CURRENT_DATE,
			 		#{edsmContent},
			 		#{edsmStartDatetime},
			 		<!--#{edsmEndDateTime},-->
			 		#{edsmStatus},
			 		#{edsmExpireDatetime})					
	</insert>
    
</mapper>