<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.myapp.mapper.ReservationMapper">
	
<resultMap type="AssetDto" id="AssetMap">
        <id property="assetCode" column="ASSET_CODE"/>
        <result property="assetName" column="ASSET_NAME"/>
        <result property="assetType" column="ASSET_TYPE"/>
        <result property="useYn" column="USE_YN"/>
        <result property="assetSubname" column="ASSET_SUBNAME"/>
        <result property="subasset" column="SUBASSET"/>
   </resultMap>	
   
<resultMap type="ReservationDto" id="ReservationMap">
	<id property="reservationNumber" column="RESERVATION_NUMBER"/>
	<result property="startDatetime" column="START_DATETIME"/>
	<result property="endDatetime" column="END_DATETIME"/>
	<result property="reason" column="REASON"/>
	<association property="emp" javaType="EmpDto">
		<id property="empCode" column="EMP_CODE"/>
		<association property="dept" javaType="DeptDto">
			<id property="deptCode" column="DEPT_CODE"/>
			<result property="deptName" column="DEPT_NAME"/>
		</association>
	</association>
	<association property="asset" javaType="AssetDto">
		<id property="assetCode" column="ASSET_CODE"/>
		<result property="assetName" column="ASSET_NAME"/>
	</association>
</resultMap>

<insert id="addAsset"
		parameterType="AssetDto">
	INSERT INTO ASSETMANAGE_T (
	  ASSET_CODE
	, ASSET_NAME
	, ASSET_TYPE
	, USE_YN
	, ASSET_SUBNAME
	, SUBASSET
	) VALUES (
	  #{assetCode}
	, #{assetName}
	, #{assetType}
	, 'N'
	, #{assetSubname}
	, #{subasset}
	)
</insert>

<select id="getAssetCount"
          parameterType="int">
    SELECT COUNT(*)
      FROM ASSETMANAGE_T        
</select>
  
<select id="getAssetList"
          parameterType="Map"
          resultMap="AssetMap">
    SELECT ASSET_CODE, ASSET_NAME, ASSET_TYPE, ASSET_SUBNAME, SUBASSET
      FROM ASSETMANAGE_T
     ORDER BY ASSET_CODE ASC
</select>

<insert id="addReservation"
	 	parameterType="ReservationDto">
	INSERT INTO ASSETRESERVATION_T (
		RESERVATION_NUMBER
	  , EMP_CODE
	  , ASSET_CODE
	  , START_DATETIME
	  , END_DATETIME
	  , REASON
	  )VALUES (
	  	ASSETRESERVATION_SEQ.NEXTVAL
	  , #{empCode}
	  , #{assetCode}
	  , #{startDatetime}
	  , #{endDatetime}
	  , #{reason}
	  )
</insert>

 <select id="getAsset"
         resultMap="AssetMap">
 SELECT ASSET_CODE, ASSET_NAME, ASSET_TYPE, USE_YN, ASSET_SUBNAME, SUBASSET
   FROM ASSETMANAGE_T
  WHERE ASSET_CODE = #{assetCode}
 </select>
 
<update id="modifyAsset" 
          parameterType="AssetDto">
    UPDATE ASSETMANAGE_T
       SET ASSET_CODE = #{assetCode}
         , ASSET_NAME = #{assetName}
         , ASSET_TYPE = #{assetType}
         , SUBASSET = #{subasset}
     WHERE ASSET_CODE = #{assetCode}
  </update>

<delete id="removeAsset">
	DELETE
	  FROM ASSETMANAGE_T
	 WHERE ASSET_CODE = #{assetCode}
</delete>

<select id="assetList"                                                 
          resultType="map">                                            
    SELECT ASSET_CODE, ASSET_NAME, ASSET_TYPE, ASSET_SUBNAME, SUBASSET    
      FROM ASSETMANAGE_T                                                  
</select>                      

</mapper>                                           
                                                                          